
$bn: 'Bebas Neue', cursive
$os: 'Open Sans', sans-serif

$wrap: 1440px
$container: 970px
$mc: 0 auto
$bg: #FFFFFF //цвет фона
$text: #48555B //цвет текста
$textw: #FFFFFF //цвет текста
$blue: #00A4E5

.wrapper
    min-height: 100%
    display: flex
    flex-direction: column
    overflow: hidden
.container
    max-width: $container
    margin: $mc
    padding: 0 15px

html,
body
    height: 100%
    line-height: 1
    font-family: $os
    color: $text
.main 
    flex: 1 1 auto